<component name="libraryTable">
  <library name="spring:spring-web:1.0.2" type="repository">
    <properties maven-id="spring:spring-web:1.0.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/spring/spring-web/1.0.2/spring-web-1.0.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>